$dark-color: #02130a;
$light-color: #b6caa2;
$overlay-color: #d34714;
$underline-color: rgb(254, 108, 11);
$box-shadow:0px 5px 0px 0px rgba(254, 108, 11);
$overlay-box-shadow: 0px 5px 0px 0px rgba(2, 19, 10, 1);
$base-font: 'Nanum Gothic', sans-serif;