@use './setup';
@use './variables' as *;
@use './global';
@use './mediaqueries';
@use './animations';

body{
    background-color: $light-color;
    color: $dark-color;
    font-family: $base-font;
    transition: 1s;
}

// HOME ANIMATIONS
// Inspired by https://codepen.io/chriiss/pen/KKebVYO
.nameAnimation{
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid $underline-color;
    animation: cursor 1s step-start, text 2s steps(13) alternate infinite;

    @keyframes cursor {
        0%{
            border-color: $underline-color;
        }
        
        100%{
            border-color: $underline-color;
        }
    }

    @keyframes text {
        0%{
            width: 0;
        }
        100%{
            width: 12ch;
        }
    }
}

// dark mode button styling / animations
// Animations inspired by https://dev.to/murtuzaalisurti/dark-mode-toggle-animation-using-css-27il

.darkmode{
    background-color: $dark-color;
    color: $light-color;
}

.iconContainer{
    position: relative;
    width: fit-content;
    margin-top: 30px;

    p{
        display: flex;
        flex-direction:column;
        font-size: 1rem;
        text-align: center;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-timing-function: ease;
        
        i{
            font-size: 2rem;
        }
    }
    @keyframes bounce{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(0);
        }
    }
}

.sun, .moon{
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
}

.moon{
    position: absolute;
    inset: 0;
}

.moon-logo{
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg); 
    transition: all 1s ease-out;
}

.sun-logo{
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.animate-sun{
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}

.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}

// Hamburger
//Slide animations inspired by https://codepen.io/krishandeep/pen/oNoXMwE
.navBar ul{
    height: 100vh;
    padding-top: 100px;
    padding-left: 0px;
}

.navBar li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 2rem;

    a:hover,
    a:focus{
        box-shadow: $overlay-box-shadow;
    }
}

.overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $overlay-color;
  }
  
  .overlay-slide-up {
    transition: all 0.4s ease-in-out;
    transform: translateY(0);
  }
  
  .overlay-slide-down {
    transition: all 0.8s ease-in-out;
    transform: translateY(-100%);
  }

.hamburgerMenu{
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    cursor: pointer;
}

.menuBarOne,
.menuBarTwo,
.menuBarThree{
    width: 3.5rem;
    height: 0.2rem;
    background-color: $dark-color;
    margin: 0.8rem 0;
    transition: 0.4s;
}

.menuBarOne.darkmode{
    background-color: $light-color;
}
.menuBarTwo.darkmode{
    background-color: $light-color;
}
.menuBarThree.darkmode{
    background-color: $light-color;
}

.active .menuBarOne{
    transform: rotate(-45deg) translate(-12px, 16px);
}

.active .menuBarTwo{
    opacity: 0;
}

.active .menuBarThree{
    transform: rotate(45deg) translate(-12px, -16px);
}

//   slide in

  .slide-in-1 {
    animation: slide-in 0.4s linear 0.2s both;
  }
  
  .slide-in-2 {
    animation: slide-in 0.4s linear 0.2s both;
  }
  
  .slide-in-3 {
    animation: slide-in 0.4s linear 0.2s both;
  }
  
  .slide-in-4 {
    animation: slide-in 0.4s linear 0.2s both;
  }
  
  .slide-in-5 {
    animation: slide-in 0.4s linear 0.2s both;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

//   slide out

.slide-out-1 {
    animation: slide-out 0.3s linear 0.2s both;
  }
  
  .slide-out-2 {
    animation: slide-out 0.3s linear 0.2s both;
  }
  
  .slide-out-3 {
    animation: slide-out 0.3s linear 0.2s both;
  }
  
  .slide-out-4 {
    animation: slide-out 0.3s linear 0.2s both;
  }
  
  .slide-out-5 {
    animation: slide-out 0.3s linear 0.2s both;
  }
  
  @keyframes slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

// HOME 
.home{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .animationContainer{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 4rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
    }

    span{
        font-size: 4rem;
        font-weight: 800;
        text-transform: uppercase;
    };

}

// ABOUT
.aboutMe{
    min-height: 100vh;
}

.aboutName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin-bottom: 0;
        box-shadow: $box-shadow;
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }
}

.aboutContainer{
    display: flex;
    flex-direction: row;

    figure{
        width: 100%;
    }
}

.aboutText p{
        font-size: 1.2rem;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    i{
        font-size: 3rem;
        cursor: pointer;
        margin-right: 20px;
    }

    i:hover,
    i:focus{
        color: $underline-color;
    }

    i.darkmode{
        color: $light-color;
    }
}

// SKILLS

    .skillsContainer{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    h2{
    margin: 100px 0 50px 0;
    font-size: 2.5rem;
    box-shadow: $box-shadow;
    width: fit-content;
    }

.skillList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;

    li{
        display: flex;
        flex-direction: column;
        flex-basis: 23%;
        justify-content: center;
        align-items: center;
    }

    li:hover,
    li:focus{
        color: $underline-color;
    }

    span{
        font-size: 4rem;
    }

    p{
        text-align: left;
        text-transform: uppercase;
    }
}

// PROJECTS

.projects{
    margin-bottom: 100px;

.project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    h2{
        font-size: 2.5rem;
        box-shadow: $box-shadow;
    }
}

.slide i{
    font-size: 2rem;
    margin-right: 20px;
}

.slide i:hover,
       i:focus{
    color: $underline-color;
}

.projectsContainer{
    position: relative;

    .next{
        right: 0;
    }
}

button{
    background: none;
    border: none;
}

button:active, button:focus{
    outline: none;
}

.next, .prev{
    position: absolute;
    font-size: 4rem;
    color: $underline-color;
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(254, 108, 11, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
    border-radius: 25%;
    top: 35%;

    @keyframes pulse{
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(254, 108, 11, 0.7);
        }
    
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(254, 108, 11, 0);
        }
    
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(254, 108, 11, 0);
    }
}

.image{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}}
}

.image a{
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 10px;
}

.image a:hover,
       a:focus{
        color: $underline-color;
       }

.image i {
    font-size: 2rem;
    margin-left: 10px;
}

.image i:hover,
       i:focus{
    color: $underline-color;
}

// Contact 

.contactContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact h3{
    font-size: 2.5rem;
    width: fit-content;
    box-shadow: $box-shadow;
}

.formContainer{
    display: flex;
    flex-direction: row;

    form{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    input{
        height: 40px;
        margin-bottom: 20px;
        color: $light-color;
        background-color: $dark-color;
        padding-left: 10px;
    }

    input::placeholder{
        text-transform: capitalize;
    }

    input.darkmode{
        color: $dark-color;
        background-color: $light-color;
    }

    button{
        margin-top: 20px;
        padding: 10px;
        background-color: $underline-color;
        text-transform: uppercase;
    }

    textarea{
        resize: none;
        background-color: $dark-color;
        color: $light-color;
        padding-left: 10px;
    }

    textarea::placeholder{
        text-transform: capitalize;
    }

    textarea.darkmode{
        color: $dark-color;
        background-color: $light-color ;
    }

}

.formText{
    width: 50%;
    margin-left: 50px;

    p{
        margin-top: 0;
        font-size: 1.2rem;
    }

    a:hover,
    a:focus{
        color: $underline-color;
    }
}

// footer
footer{
    padding: 10px 0 10px 0;
    background-color: $dark-color;
}

footer.darkmode{
    background-color: $light-color;
}

.footerP{
    margin: 0 auto;
    text-align: center;
    color: $light-color;
}

.footerP.darkmode{
    color: $dark-color;
    background-color: $light-color;
}