html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

body {
  background-color: #b6caa2;
  color: #02130a;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-transition: 1s;
  transition: 1s;
}

.nameAnimation {
  width: 13ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #fe6c0b;
  -webkit-animation: cursor 1s step-start, text 2s steps(13) alternate infinite;
          animation: cursor 1s step-start, text 2s steps(13) alternate infinite;
}
@-webkit-keyframes cursor {
  0% {
    border-color: #fe6c0b;
  }
  100% {
    border-color: #fe6c0b;
  }
}
@keyframes cursor {
  0% {
    border-color: #fe6c0b;
  }
  100% {
    border-color: #fe6c0b;
  }
}
@-webkit-keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 12ch;
  }
}
@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 12ch;
  }
}

.darkmode {
  background-color: #02130a;
  color: #b6caa2;
}

.iconContainer {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
}
.iconContainer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  text-align: center;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.iconContainer p i {
  font-size: 2rem;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.sun, .moon {
  font-size: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.moon {
  position: absolute;
  inset: 0;
}

.moon-logo {
  opacity: 0;
  -webkit-transform: translateY(20%) rotateZ(50deg);
          transform: translateY(20%) rotateZ(50deg);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.sun-logo {
  opacity: 1;
  -webkit-transform: translateY(0) rotateZ(0deg);
          transform: translateY(0) rotateZ(0deg);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.animate-sun {
  opacity: 0;
  -webkit-transform: translateY(20%) rotateZ(100deg);
          transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
  opacity: 1;
  -webkit-transform: translateY(0%) rotateZ(0deg);
          transform: translateY(0%) rotateZ(0deg);
}

.navBar ul {
  height: 100vh;
  padding-top: 100px;
  padding-left: 0px;
}

.navBar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  font-size: 2rem;
}
.navBar li a:hover,
.navBar li a:focus {
  -webkit-box-shadow: 0px 5px 0px 0px rgb(2, 19, 10);
          box-shadow: 0px 5px 0px 0px rgb(2, 19, 10);
}

.overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D23800;
}

.overlay-slide-right {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-slide-left {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.hamburgerMenu {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
}

.menuBarOne,
.menuBarTwo,
.menuBarThree {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #02130a;
  margin: 0.8rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menuBarOne.darkmode {
  background-color: #b6caa2;
}

.menuBarTwo.darkmode {
  background-color: #b6caa2;
}

.menuBarThree.darkmode {
  background-color: #b6caa2;
}

.active .menuBarOne {
  -webkit-transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
          transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}

.active .menuBarTwo {
  opacity: 0;
}

.active .menuBarThree {
  -webkit-transform: rotate(45deg) translate(-0.6rem, -0.8rem);
          transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}

.slide-in-1 {
  -webkit-animation: slide-in 0.4s linear 0.2s both;
          animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  -webkit-animation: slide-in 0.4s linear 0.4s both;
          animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  -webkit-animation: slide-in 0.4s linear 0.6s both;
          animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  -webkit-animation: slide-in 0.4s linear 0.8s both;
          animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  -webkit-animation: slide-in 0.4s linear 1s both;
          animation: slide-in 0.4s linear 1s both;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.slide-out-1 {
  -webkit-animation: slide-out 0.3s linear 0.5s both;
          animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  -webkit-animation: slide-out 0.3s linear 0.4s both;
          animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  -webkit-animation: slide-out 0.3s linear 0.3s both;
          animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  -webkit-animation: slide-out 0.3s linear 0.2s both;
          animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  -webkit-animation: slide-out 0.3s linear 0.1s both;
          animation: slide-out 0.3s linear 0.1s both;
}

@-webkit-keyframes slide-out {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-out {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.home {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .animationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home h1 {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}
.home span {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}

.aboutMe {
  min-height: 100vh;
}

.aboutName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutName h2 {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
          box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
  font-size: 2rem;
}
.aboutName p {
  font-size: 1.5rem;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.aboutContainer figure {
  width: 100%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials .fa-github {
  color: #02130a;
}
.socials i {
  font-size: 3rem;
  cursor: pointer;
  margin-right: 20px;
}
.socials i:hover,
.socials i:focus {
  -webkit-box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
          box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
}
.socials i.darkmode {
  color: #b6caa2;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h2 {
  margin: 100px 0 50px 0;
  font-size: 2.5rem;
  -webkit-box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
          box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}
.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills ul li:hover,
.skills ul li:focus {
  color: #fe6c0b;
}
.skills ul span {
  font-size: 4rem;
}
.skills ul p {
  text-align: left;
}

.projects {
  margin-bottom: 100px;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.projects .project h2 {
  font-size: 2.5rem;
  -webkit-box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
          box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
}
.projects .slide i {
  font-size: 2rem;
  margin-right: 20px;
}
.projects .slide i:hover,
.projects i:focus {
  color: #fe6c0b;
}
.projects .carousel {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.projects .slider {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.projects .slide {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.projects .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects .slideBtn {
  position: absolute;
  top: 0;
  bottom: 100px;
  margin: auto;
  height: 75px;
  background-color: #fe6c0b;
  border: none;
  width: 40px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(254, 108, 11);
          box-shadow: 0px 0px 0px 0px rgb(254, 108, 11);
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0.7);
            box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 0px 20px rgba(254, 108, 11, 0);
            box-shadow: 0px 0px 0px 20px rgba(254, 108, 11, 0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0);
            box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0.7);
            box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 0px 20px rgba(254, 108, 11, 0);
            box-shadow: 0px 0px 0px 20px rgba(254, 108, 11, 0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0);
            box-shadow: 0px 0px 0px 0px rgba(254, 108, 11, 0);
  }
}
.projects .slideBtn:hover {
  opacity: 1;
}
.projects .slideBtn.next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}
.projects .slideBtn.prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact h3 {
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
          box-shadow: 0px 5px 0px 0px rgb(254, 108, 11);
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.formContainer input {
  height: 40px;
  margin-bottom: 20px;
  color: #b6caa2;
  background-color: #02130a;
}
.formContainer input.darkmode {
  color: #02130a;
  background-color: #b6caa2;
}
.formContainer button {
  margin-top: 20px;
  padding: 10px;
  background-color: #fe6c0b;
}
.formContainer textarea {
  resize: none;
  background-color: #02130a;
  color: #b6caa2;
}
.formContainer textarea.darkmode {
  color: #02130a;
  background-color: #b6caa2;
}

.formText {
  width: 50%;
  margin-left: 50px;
}
.formText p {
  margin-top: 0;
}